@import '../../settings';

.board-columns {
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($color: $list-bg-color, $amount: 15);
    border-right: 5px solid $list-bg-color;
  }

  .column {
    flex: 0 0 auto;
    width: 300px;
    height:calc(100% - #{$gap}); //single column height = parent height - 10px
    margin-left: 10px;

    >* {
      //recursively select all child elements
      background-color: $list-bg-color;
      color: #333;
      padding: 0 8px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
      overflow-y: auto;
    }

    li {
      background-color: white;
      padding: $gap;
      border-radius: $column-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      &:not(:last-child) {
        margin-bottom: $gap;
      }
    }

    header {
      padding-left: 15px;
      height: $column-header-height;
      line-height: $column-header-height;
      font-size: 16px;
      font-weight: bold;
      border-top-left-radius: $column-border-radius;
      border-top-right-radius: $column-border-radius;
    }

    footer {
      padding-left: 15px;
      height: $column-footer-height;
      line-height: $column-footer-height;
      border-bottom-left-radius: $column-border-radius;
      border-bottom-right-radius: $column-border-radius;
      color: #888;

      .footer-action {
        margin-left: 5px;
        cursor: pointer;

        &:hover {
          color: #333;
        }
      }
    }
  }

  input {
    background-color: white;
    padding: 8%;
    width: 82%;
    border-radius: $column-border-radius;
    box-shadow: 0 1px 1px rgba(134, 120, 120, 0.24);
  }
}

#button {
  background-color: rgb(69, 152, 69);
  margin-top: 2%;
  margin-right: 2%;
  border-radius: $column-border-radius;
  color: white;
  padding: 6px;
  width: 25%;
  border: none;
}

#xMark {
  border: none;
  background-color: white;
  color: #888;
  padding: 10px;

  &:hover {
    color: #333;
  }
}